* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


/* Estilos da navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: #0070b3;
  z-index: 999;
  transition: background-color 0.3s, color 0.3s;
  display: inline-grid;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navbar.scrolled {
  background-color: #0070b3;
}

.navbar .logo {
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar.scrolled .logo {
  opacity: 0.7;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 20px;
  color: white;
}

.navbar.menu-open {
  background-color: #0070b3;
}

.menu .item-navbar {
  position: relative;
  padding: 0 15px;
  font-family: 'Sora';
  font-size: 26px;
  cursor: pointer;
  text-shadow: 1px 1px black;
}


.menu .item-navbar:hover > .submenu {
  display: block;
}

.menu .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 10px;
  list-style-type: none;
  border-radius: 5px;
  font-size: 18px;
  border-color: transparent;
}

.menu .submenu li {
  margin: 20px 0;
  color: white;
}


.contact-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.navbar.scrolled .submenu {
  background-color: #0070b3;
  border-color: #0070b3;
  color: #ffffff;
}

.navbar.scrolled .submenu a {
  color: #ffffff;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .menu {
    display: none;
    width: 100%;
    text-align: right;
  }

  .menu-toggle {
    display: none;
  }

  .menu-toggle:checked ~ .menu {
    display: block;
  }

  .menu-icon {
    display: block;
    margin-left: auto;
    color: white;
  }

  .item-navbar {
    width: 100%;
    padding: 10px 0;
  }

  .submenu {
    position: relative !important;
    display: block;
    width: auto !important;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .submenu li {
    margin: 10px 0;
  }

  .address{
    font-size: 18px;
  }

  .footer-column{
    margin-top: 7%;
  }

  .texto-central{
    width: auto !important;
  }
  .filosofia-images{
    display: none !important;
  }
  .img-fisioterapia{
    display: none;
  }
  .price-table td{
    font-size: 9px;
  }
  .information-column p{
    font-size: 14px;
  }
}

    /* Estilo para os vídeos */
    #video-container {
      position: relative;
      width: 100%;
      height: 100%; /* Defina a altura desejada para o vídeo */
    }

    #text-container {
      position: absolute;
      top: 40%;
      width: inherit;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
    }

    
    .banner-text {
      opacity: 0;
      padding: 10px;
      position: absolute;
      border-radius: 5px;
      width: 100%;
      font-size: 26px;
      font-family: 'Sora';
      font-weight: 500;
      color: white;
      transition: opacity 1s ease-in-out;
      margin-top: 20%;
      text-align-last: right;
      right: 5%;
    }

    .banner-text2 {
      padding: 10px;
      position: absolute;
      border-radius: 5px;
      width: 100%;
      font-size: 70px;
      font-family: 'Sora';
      font-weight: 500;
      margin-top: 20%;
      color: white;
      text-shadow: 1px 1px black;
      text-align: right;
    }

    .texto-banner{
      margin-right: 5vw;
      font-family: "Museo-300";
    }

    .banner-text.active {
      opacity: 1;
    }
    
    #my-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    #text-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
    }
    
    #text-slider {
      animation: text-animation 5s infinite;
    }
    
    @keyframes text-animation {
      0%, 20% {
        opacity: 1;
      }
      25%, 75% {
        opacity: 0;
      }
      80%, 100% {
        opacity: 1;
      }
    }


    .frase-central{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    }

    .texto-central{
    font-family: 'Sora';
    font-weight: 500;
    font-size: 30px;
    }

    .titulo-videos{
      font-family: 'Sora';
      font-weight: 400;
      font-size: 26px;
      padding: 15px 0px;
    }

    .desc-video{
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 18px;
      text-align-last: center;
      padding: 0px 40px;
    }

  /* box-videos */

  .videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-color: #f5f5f5;
    padding: 50px;
  }
  
  .video-wrapper {
    width: calc(33.33% - 20px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video-wrapper iframe {
    width: 100%;
    height: 300px; /* Ajuste a altura desejada */
    border: 0;
  }
  
  .video-text {
    background-color: #f5f5f5;
    font-family: 'Poppins';
    padding: 10px;
    border: 2px solid #ddd;
    text-align: center;
    margin-top: 10px;
    height: 45%;
  }
  
  .video-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .video-description {
    font-size: 15px;
  }

  /* Estilos para as seções */
  .section {
    padding: 50px;
    text-align-last: center;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
  }

  .section-2 .column {
    width: 33.33%;
    float: left;
    text-align: center;
  }

  .section-video{
    background-color: #f5f5f5;
  }

  /* Estilos para o rodapé */
  footer {
    padding: 20px;
    background-color: #f5f5f5;
    background-image: url(img/imagem-rodape.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 500px;
  }
  
  .footer-left {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 3%;
    grid-gap: 20px;
  }
  
  .address {
    margin-right: 20px;
    font-size: 20px;
    color: white;
    font-weight: 400;
    font-family: 'Poppins';
  }

  .address h3{
    font-weight: 500;
  }
  
  .footer-right {
    text-align: center;
  }
  
  .footer-right img {
    vertical-align: middle;
    margin-right: 10px;
  }

  .contact-info{
    font-size: 20px;
    color: white;
    font-weight: 400;
    font-family: 'Poppins';
    text-align-last: left;
  }

  @media only screen and (max-width: 1160px){
    .contact-info{
      display: none;
    }
  }

  .contact-info h3{
    font-weight: 500;
  }

  .social-midia{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 5px;
  }

  @media only screen and (max-width: 1039px){
    footer{
      display: grid;
    }

    .footer-grid{
    display: flex !important; 
    flex-wrap: wrap;
    flex-direction: column;
    }

    .wrapper2 i:last-child{
      display: none;
    }

    .esquerda{
      display: none !important;
    }

    .texto-central{
      font-size: 3vw;
    }

    .section{
      padding: 25px;
    }

    .video-wrapper{
      width: auto;
    }

    .videos{
      flex-direction: column;
      align-content: center;
      padding: 20px;
    }

    .rede-sociais{
      display: none !important;
    }

    .contact-icons img{
      width: 15px;
    }

    .logo img{
      width: 90%;
    }

    .contact-icons{
      gap: 0px;
    }

    .banner-text{
      font-size: 12px;
    }   

    .blocos{
      flex-direction: column;
    }

    .bloco{
      width: 100% !important;
    }

    .bloco h2{
      font-size: 15px !important;
    }

    .filosofia-images{
      width: 40% !important;
    }

    .equipe-item{
      flex-direction: column;
    }

    .maps{
      width: 100%;
      height: 100%;
    }

    .blocos-contato2{
      flex-direction: column !important;
    }

    .bloco-contato2{
      width: auto !important;
      margin-left: 5%;
      margin-right: 5%;
    }

    .blocos-contato{
      flex-direction: column !important;
    }

    .bloco-contato-clinica{
      width: auto !important;
      margin-left: 5%;
      margin-right: 5%;
    }

    .price-table{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 10px;
    }

    .information-column{
      width: 100%;
    }

    .information-column h2{
      font-size: 19px !important;
    }

    .texto-banner{
      font-size: 5vw;
    }

    .banner-text2{
      margin-top: 17vw;
    }

    .background-image{
      background-image: white;
      background-image: none !important;
    }

    .titulo-tabela{
      color: #2572b0 !important;
    }

    .titulo-info{
      color: #2572b0 !important;
    }
  }

  /* Carrosel */

.carroussel{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px;
}

.image-container {
  overflow-x: hidden;
  max-width: 768px;
}
.image-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
  grid-gap: 1.5rem;
  position: relative;
  left: 0;
  transition: .3s;
}
.image-wrapper > * {
  aspect-ratio: 4 / 3;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .5rem;
}

  /* Carrosel2 */

  .depoimentos{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
  }

  .wrapper2 {
    max-width: 1100px;
    width: 100%;
    position: relative;
    font-family: 'Poppins';
    margin-bottom: 10%;
    text-align-last: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
  }

  .wrapper2 h2{
    color: #2572b0;
    margin-bottom: 2%;
    font-weight: 500;
  }

  .wrapper2 i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper2 i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper2 i:first-child{
    left: -22px;
  }
  .wrapper2 i:last-child{
    right: -28px;
  }
  .esquerda{
    left: -28px;
  }
  .wrapper2 .carousel2{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel2::-webkit-scrollbar {
    display: none;
  }
  .carousel2.no-transition {
    scroll-behavior: auto;
  }
  .carousel2.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel2.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel2 :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel2 .card {
    scroll-snap-align: start;
    height: 100%;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    justify-content: left;
    background-color: whitesmoke;
  }
  .carousel2 .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel2 .card h2 {
    font-weight: 500;
    font-size: 1.3rem;
    margin: 30px 0 5px;
    color: #2572b0;
  }
  .carousel2 .card span {
    color: #6A6D78;
    font-size: 0.8rem;
    padding: 0px 30px;
  }

  .depoimento-titulo{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    padding: 17px;
    grid-gap: 20px;
    place-content: center;
  }

  .foto-depoimentos{
    width: 90px;
    height: auto;
    border-radius: 50%;
  }

  .desc-depoimentos{
    color: #2572b0;
  }
  
  @media screen and (max-width: 900px) {
    .wrapper2 .carousel2 {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper2 .carousel2 {
      grid-auto-columns: 100%;
    }
  }

/* Filosofia */

.filosofia {
  background-color: white;
  padding: 20px;
  font-family: 'Sora';
}

.filosofia-content {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

  .filosofia-content {
    flex-direction: row;
  }
  
  .filosofia-images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20%;
  }

  .filosofia-images img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    max-height: 250px;
  }

  .filosofia-text {
    flex: 1;
  }

  .img-filosofia{
    padding: 5px;
  }

  
  /* Fisioterapia */

  .fisioterapia {
    background-color: white;
    padding: 20px;
    font-family: 'Sora';
  }
  
  .fisioterapia-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .fisioterapia-images img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .fisioterapia-text {
    text-align: justify;
  }
  

  @media (min-width: 768px) {

    .fisioterapia-content {
      flex-direction: row;
      align-items: center;
    }
    
    .fisioterapia-images{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .fisioterapia-images img {
      margin-bottom: 0;
      margin-right: 10px;
      max-height: 250px;
      width: 300px;
    }
  
    .fisioterapia-text {
      flex: 1;
    }

    .img-fisioterapia{
      padding: 5px;
    }
  
  }
  
  
  /* Treinamento */
  
  .treinamento {
    background-color: white;
    padding: 20px;
    font-family: 'Sora';
  }
  
  .treinamento-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .treinamento-images img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
    .treinamento-content {
      flex-direction: row;
      align-items: flex-start;
    }
    
    .treinamento-images{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .treinamento-images img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      margin-bottom: 0;
      margin-right: 10px;
      width: 300px;
    }
  
    .treinamento-text {
      flex: 1;
      text-align: justify;
    }

    .img-treinamento{
      padding: 5px;
    }
  
      /* Avaliação */
  
  .avaliacao {
    background-color: white;
    padding: 20px;
    font-family: 'Sora';
  }
  
  .avaliacao-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
  }
  
  .avaliacao-images img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
    .avaliacao-content {
      flex-direction: row;
    }
    
    .avaliacao-images{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .avaliacao-images img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      margin-bottom: 0;
      margin-right: 10px;
      width: 300px;
    }
  
    .avaliacao-text {
      flex: 1;
      text-align: justify;
    }

    .img-avaliacao{
      padding: 5px;
    }

    /* Valores */
  
    /* Estilos do banner */
    .banner {
      height: 100vh;
      background-color: #f5f5f5;
    }
    
    /* Estilos das seções de informações */
    .information-section {
      padding: 40px 0;
      font-family: 'Sora';
    }
    
    .information-columns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      grid-gap: 27px;
    }
    
    .information-column {
      flex: 1 1 23%;
      margin-bottom: 20px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      border-bottom: 5px solid #2572b0;
      background-color: #ebebeb;
      font-size: 16px;
      color: #666666;
    }
    
    .information-column h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #2572b0;
      font-weight: 500;
    }

    .titulo-info{
      color: white;
      margin-top: 5%;
      margin-bottom: 5%;
      font-weight: 500;
      font-size: 36px;
    }
    
    /* Estilos da tabela de preços */
    .table-section {
      padding: 40px 0;
      text-align: center;
      font-family: 'Sora';
    }
    
    .price-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      color: #666666;
    }
    
    .price-table th,
    .price-table td {
      padding: 10px;
      border: 1px solid #ddd;
      background-color: #ebebeb;
    }
    
    .price-table th {
      background-color: #2572b0;
      color: white;
      font-weight: 500;
    }

    .tabela{
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }

    .titulo-tabela{
      text-align-last: center;
      margin-top: 10%;
      margin-bottom: 10%;
      color: white;
      font-weight: 500;
      font-size: 36px;
    }

    /*Clientes*/

    .equipe {
      background-color: white;
      padding: 40px 0;
      font-family: 'Sora';
    }
    
    .equipe-grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 20px;
      align-content: center;
    }
    
    .equipe-item {
      display: flex;
      flex-wrap: initial;
      align-items: center;
      background-color: #fff;
      width: 80%;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .equipe-img {
      width: 150px;
      height: auto;
      margin-right: 20px;
      border-radius: 50%;
    }
    
    .equipe-descricao {
      flex-grow: 1;
      margin-right: auto;
    }
    
    .equipe-nome {
      margin-bottom: 5px;
      color: #2572b0;
      font-weight: 500;
      font-size: 26px;
    }
    
    .equipe-cargo {
      font-size: 14px;
      color: #888;
    }

    .section-title{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    margin-top: 5%;
    padding: 30px;
    }

    .background-image {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('img/infoclientes/fundo1.png'); /* Caminho para sua imagem de fundo */
      background-size: cover;
      z-index: -1;
  }
  
  /* Estilos para as seções */
  .table-section,
  .information-section {
      padding: 20px; /* Espaçamento interno */
      border-radius: 8px;
      margin: 20px auto; /* Espaçamento vertical */
      width: 80%; /* Largura das seções */
      max-width: 1200px; /* Largura máxima */
  }

       /* Contato */

       .sessao-contato {
        display: flex;
        background-color: white;
        background-size: cover;
        background-position: center center;
        height: 580px;
        text-align-last: center;
        align-items: center;
        font-family: 'Sora';
        flex-wrap: wrap;
        place-content: center;
        grid-gap: 91px;
      }
      
      .texto-contato{
        margin-left: 1%;
      }

      .conteudo-direita {
        display: flex;
        text-align-last: left;
        flex-direction: column;
        flex-wrap: wrap;
        grid-gap: 15px;
        font-family: 'Sora';
      }
      
      .conteudo-direita h3{
        color: #313131;
        font-size: 32px;
        font-weight: 700;
        line-height: normal;
        font-style: normal;
          font-family: 'Sora';
      }
  
      .bloco-contato:hover #chat-icon {
        fill: #0070b3; /* Altere a cor aqui para a cor roxa desejada */
          font-family: 'Sora';
      }
  
      .conteudo-direita p{
        color: #313131;
        font-size: 16px;
        font-weight: 500;
          font-family: 'Sora';
      }
  
      .conteudo-direita h4{
        color: #313131;
        font-size: 19.939px;
        font-weight: 700;
          font-family: 'Sora';
      }
  
      .sublinhado {
        height: 3px;
        width: 230px;
        flex-shrink: 0;
        background: linear-gradient(90deg, #0070b3 0%, #0070b3 100%);
          font-family: 'Sora';
      }
      
      .sistema-2x2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
          font-family: 'Sora';
      }
      
      .bloco-contato {
        flex-shrink: 0;
        border-radius: 10px;
        display: flex;
        align-items: center;
        place-content: flex-start;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background: white;
        width: 307px;
        height: 59px;
          font-family: 'Sora';
        padding: 0 0 0 10px;
        border: 2px solid transparent;
        text-decoration: none;
        position: relative;
      }
  
      .bloco-contato:hover{
        border: 2px solid #0070b3;
        text-shadow: 0 0 1px black;
          font-family: 'Sora';
        color: black;
      }
  
      .icone-direita {
        margin-left: auto;
          font-family: 'Sora';
      }
  
  
      .imagem-esquerda{
          font-family: 'Sora';
      }
      
      .icone-contato img {
        width: 30px;
        height: auto;
        margin-right: 5px;
        display: flex;
      }
      
      .icone-contato, .bloco-contato p {
        color: #808285;
        font-size: 17.814px;
        font-weight: 500;
          font-family: 'Sora';
      }
  
      .logo-teste2{
        display: none;
      }
  
      .banner-button-preto2{
        display: none;
      }

  .titulo-sessao{
    color: #2572b0;
    font-weight: 500;
    font-size: 26px;
    margin-left: 2%;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align-last: center;
  }

  .maps{
    border-radius: 15px;
    box-shadow: rgba(149,157,165,.2) 0 8px 24px;
  }

  .footer {
    width: 100%;
    bottom: 0;
    background-color: #000000;
    color: #ffffff;
  }
  
  .titulo-rodape {
    display: grid;
    align-items: center;
    place-content: center;
    margin-left: 12%;
  }

  .inicio-contato{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align-last: center;
    margin-top: 5%;
    font-family: 'Sora';
  }

  .inicio-contato h2{
    font-size: 26px;
    font-weight: 500;
  }

  .bloco-contato-clinica{
    border: solid 1px grey;
    width: 25%;
    height: 100px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: 'Sora';
    text-align: center;
    font-size: 16px;
    padding: 25px;
  }

  .blocos-contato{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-gap: 50px;
    font-family: 'Sora';
    place-content: center;
    margin-top: 2%;
  }

  .blocos-contato2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-gap: 16px;
    font-family: 'Sora';
    place-content: center;
    margin-top: 2%;
  }

  .bloco-contato2{
    border: solid 1px grey;
    width: 25%;
    height: 100px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: 'Sora';
    text-align: center;
    font-size: 16px;
    padding: 25px;
  }
  
  @media screen and (max-width: 1600px) {
    .titulo-rodape {
      margin-left: 20%;
    }
  }
  @media screen and (max-width: 1366px) {
    .titulo-rodape {
      margin-left: 24%;
    }
  }
  @media screen and (max-width: 1280px) {
    .titulo-rodape {
      margin-left: 21%;
    }
  }
  
  .titulo1-rodape {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
  }
  
  .titulo2-rodape {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
  }
  
  .footer-content {
    margin: 0 auto;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
    justify-items: center;
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    place-content: baseline;
  }

  .logo-footer{
    place-content: center !important;
  }
  
  .vertical-line {
    width: 1px;
    height: 159px;
    background: #353535;
    place-self: center;
  }
  
  .footer-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 49px;
    color: #8A07BE;
    margin-bottom: 30px;
  }
  
  .footer-social {
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .footer-links,
  .footer-social {
    list-style: none;
    margin: 0;
    padding: 0;
    place-content: center;
  }
  
  .footer-chat {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #650099;
    border-radius: 5px;
    align-self: center;
    place-content: baseline;
    padding: 10px;
    width: 208px;
    height: 20px;
    font-size: 15px;
    align-items: center;
    justify-content: space-between; /* Alinha os itens de conteúdo à direita */
  }

  .bloco-footer{
    flex-shrink: 0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  place-content: flex-start;
  background: transparent;
  width: 208px;
  height: 39.974px;
  padding: 0 0 0 10px;
  border: 2px solid transparent;
  text-decoration: none;
  position: relative;
  border: 2px solid #4E0182;
  grid-gap: 10px;
  }

  .bloco-footer:hover #chat-icon {
    fill: #670BAF; /* Altere a cor aqui para a cor roxa desejada */
  }
  .bloco-footer:hover{
    text-shadow: 0 0 1px white;
    color: white;
  }

  .icone-footer, .bloco-footer p{
  color: #F8F8F8;
  font-family: Montserrat;
  font-size: 10.163px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }



  .footer-chat img{
    width: 25px;
    height: auto;
  }
  
  .footer-contato {
    display: flex;
    grid-gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  
  .footer-contato li {
    margin-bottom: 5px;
  }
  
  .footer-contato a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    grid-gap: 10px;
    align-items: center;
  }
  
  .footer-links li,
  .footer-social li {
    margin-bottom: 18px;
  }
  
  .footer-links a,
  .footer-social a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .padding-rede-social {
    padding: 0px 30px;
  }
  
  .rede-sociais {
    margin-bottom: auto;
  }
  
  .footer-line {
    display: flex;
    flex-wrap: wrap;
    width: 87%;
    height: 3px;
    background: #8A07BE;
    border-radius: 3px;
    border-color: #8A07BE;
  }
  
  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 125px;
    color: #fff;
  }
  
  .footer-copyright {
    font-size: 14px;
  }

  .conteudo-direita h2{
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    padding-bottom: 7px;
    width: fit-content;
    color: #313131;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

  .lgpd{
    margin: 35px;
  }

  /* blocos */

  .blocos{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    margin-top: 5%;
    place-content: center;    
  }

  .bloco{
    display: flex;
    width: 35%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    grid-gap: 10px;
    align-items: center;
    border: solid 1px #D9D9D9;
    padding: 30px;
    text-align: center;
  }

  .bloco img{
    box-shadow: rgba(149,157,165,.2) 0 8px 24px;
    border-radius: 5px;
    width: 75%;
  }

  .bloco h2{
    font-size: 26px;
    font-weight: 500;
    color: #2572b0;
    font-family: 'Sora';
  }

  .bloco button{
    color: white;
    background-color: #2572b0;
    border-radius: 10px;
    border: solid transparent;
    cursor: pointer;
    height: 35px;
    font-size: 14px;
    transition: ease 0.5s;
    font-family: 'Sora';
  }

